*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "pressStart2P";
    src: url("/fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "jetbrains";
    src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf");
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-image: url("/imagenes/paisajes-FHD.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    --height-side-1: 30%;
    --height-side-2: calc(100% - var(--height-side-1));
}

.side-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--height-side-1);
    color: white;
}

.side-1__p {
    font-family: pressStart2P;
    font-size: 2em;
}

.side-1__p-mi {
    /*font-size: 4em;*/
    /*display: block;*/
    /*line-height: 50px;*/
    /*border-bottom: 10px solid white;*/
    /*padding: 100px 100px 0px 0px;*/
    /*margin-left: 20px;*/
    animation: mi-top 1.2s;
}

.side-1__p-primera {
    /*font-size: 1.5em;*/
    /*line-height: 220px;*/
    margin: 10px 0;
    animation: primera-left 1.2s;
}

.side-1__p-pagina-web {
    font-size: 1.2em;
    /*margin: 20px;*/
    animation: pagina-web-right 1.2s;
}

@keyframes mi-top {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes primera-left {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes pagina-web-right {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}

.side-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88a7d0;
    height: var(--height-side-2);
    text-align: center;
    border-radius: 20px 20px 0 0;
}

.side-2__card {
    display: grid;
    grid-template-rows: 5fr 1fr;
    /*justify-items: center;*/
    /*align-items: center;*/
    place-items: center;
    background-color: white;
    padding: 1vw;
    border-radius: 20px;
    width: 88%;
    height: 90%;
}

.side-2__card-quote  {
    display: grid;
    grid-template-rows: 6fr 1fr;
    justify-content: center;
    align-items: center;
}

.card-quote__p {
    font-family: jetbrains;
}

.card-quote__quote {
    font-size: 1.4em;
}

.card-quote__autor {
    font-size: 1.2em;
}

.side-2__button {
    font-size: 20px;
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow:
        -7px 6px 20px rgba(0, 0, 0, 0.4),
        5px -5px 30px rgba(255, 255, 255, 0.15);
    background-color: rgba(188, 214, 223, 0.8);
    cursor: pointer;
    font-family: system-ui, -apple-system;
    font-weight: 700;
    user-select: none;
}

.side-2__button:active {
    box-shadow: none;
}

@media screen and (min-width: 700px) {
    body {
        flex-direction: row;
        --width-side-1: 60%;
        --width-side-2: calc(100% - var(--height-side-1));
    }

    .side-1 {
        width: var(--width-side-1);
        height: 100%;
    }

    .side-1__p {
        padding-left: 50px;
        text-align: start;
        width: 100%;
    }

    .side-1__p-mi {
        font-size: 25vh;
        margin: 20px 0;
        line-height: 230px;
        border-bottom: 20px solid white;
        z-index: 0;
        animation: mi-top 1.2s;
    }

    .side-1__p-primera {
        font-size: 6vw;
    }

    .side-1__p-pagina-web {
        font-size: 4vw;
    }

    @keyframes mi-top {
        from {
            transform: translateY(-70vh);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes primera-left {
        from {
            transform: translateX(-50vw);
        }
        to {
            transform: translateX(0px);
        }
    }

    @keyframes pagina-web-right {
        from {
            transform: translateX(50vw);
        }
        to {
            transform: translateX(0px);
        }
    }

    .side-2 {
        width: var(--width-side-2);
        height: 100%;
        z-index: 10;
    }

    .side-2__card {
        width: 500px;
        height: 80vh;
    }
}
